{{page-title "RentalsApp"}}
<Nav></Nav>
<Main>
    <h2 class="heading">Welcome to Drive-Ins</h2>
    <p class="para">The best place for the best people. You can stay as long as u like.</p>
    <ul class="ulist">
        <li class="list">
            <LinkTo @route="about">
                <button class="btn btn-primary" type="button">About Us</button>    
            </LinkTo>
        </li>
    </ul>
    
    
</Main>
<div class="rentals">
  <ul class="results">
    <!--<li class="listofrental"><Rental @rental={{@model}} /></li>
    <li class="listofrental"><Rental @rental={{@model}} /></li>
    <li class="listofrental"><Rental @rental={{@model}} /></li>-->
    
    {{#each model as |item|}} 
	    <li class="listofrental"><Rental @rental={{item}} /></li>
    {{/each}}
  </ul>
</div>
{{outlet}}