<article class="rental">
    <div class="details">
      <LinkTo @route="rental" @model={{@rental.id}}>
        <h3 class="rentalheader">{{@rental.title}}</h3>
      </LinkTo>
      <p class="summary">
      <Rental::Image src={{@rental.image}} alt="An image of {{@rental.title}}"/>  
      {{@rental.description}}
     <h4>{{@rental.subheading}}</h4>
     {{@rental.subdesc}}
     </p>
    </div> 
</article>